@page "/"

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        Welcome
    </Authorized>
    <NotAuthorized>
        <h1>Access Denied</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        
    }
}