@page "/"

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        Welcome
    </Authorized>
    <NotAuthorized>
        <h1>Access Denied</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        var user = new UserAccountModel();
        user.UserName = "cyrille";
        user.Password = "cyrille";
        user.Firstname = "Cyrille Con";
        user.Middlename = "Pedorsa";
        user.Lastname = "Morales";
        user.Position = "Admin";
    }
}